@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Noto+Naskh+Arabic:wght@400..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #3e553e;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #74a274;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #74a274;
}

:root {
  --background: #ffffff;
  --foreground: #141a17;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #141a17;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Julius Sans One, Helvetica;
}

/* Custom font class */
@layer utilities {
  .font-julius-sans {
    font-family: 'Julius Sans One', sans-serif;
  }
  .font-arabic {
    font-family: 'Noto Naskh Arabic', serif;
  }
}